* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

main, header{
    padding: 1rem;
}

/*header styles*/

header nav ul li{
    display: none;
}

#title--tile{
    display: inline;
    font-size: 3.5rem;
    font-family: 'Rancho', cursive;
}

#menu{
    display: inline;
    float: right;
    font-size: 2rem;
    padding-top: 15px;
}

section{
    width: 100%;
}

.specialities{
    background-color: #efefef;
}

img{
    width: 100%;
    height: auto;
}

.specials--container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.specials--item{
    width: 30%;
}

.menu--container{
    display: grid;
    grid-template-columns: auto auto auto;
}

#coffee--icon{
    border-radius: 100%;
}

.staff--container{
    display: flex;
    height: 1300px;
}

.staff--item{
    width: 31%;
    height: auto;
}

@media screen and (min-width: 725px) {

    body{
        max-width: 960px;
        margin: 0 auto;
    }

    main {
        padding: 0;
    }

    /*header style*/

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul li {
        display: inline;
        font-weight: bold;
        font-size: 1.5rem;
    }

    #title--tile{
        font-weight: 100;
    }

    #menu {
        display: none;
    }

}